<head>
    <title>Hello from the Pi</title>
  	<script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script> 
  </head>
  <body>
    <h1>Rolety - Sterowanie</h1>
    <form>
	<h2>Salon Taras - <div id = "statusTaras" style="display: inline"></div></h2>
    	<input type="button" value="Otworz" onclick="go('LivingRoomTerraceOpen')" style="font-size:200%;">
	<input type="button" value="Zamknij" onclick="go('LivingRoomTerraceClose')" style="font-size:200%;">
	<h2>Salon Okno - <div id = "statusSalon" style="display: inline"></div></h2>
     	<input type="button" value="Otworz" onclick="go('LivingRoomWindowOpen')" style="font-size:200%;">
	<input type="button" value="Zamknij" onclick="go('LivingRoomWindowClose')" style="font-size:200%;">
	<h2>Sypialnia - <div id = "statusSypialnia" style="display: inline"></div></h2>
	    <input type="button" value="Otworz" onclick="go('BedRoomOpen')" style="font-size:200%;">
	    <input type="button" value="Zamknij" onclick="go('BedRoomClose')" style="font-size:200%;">
 
    <script type="text/javascript">
        document.observe('dom:loaded', function() 
        {
            go('status');
            new PeriodicalExecuter(update, 0.3);
        });

        function update()
        {
            go('status');
        }

        function go(qry) 
        {
	        new Ajax.Request('doStuff.py?q=' + qry, 
            {
                method: 'GET',
                    
                onSuccess: function(transport) 
                {
                    var json = transport.responseText.evalJSON(true) || "no response";
                       
                    document.getElementById("statusSalon").innerHTML = json.LivingRoomWindow.state;
                    document.getElementById("statusTaras").innerHTML = json.LivingRoomTerrace.state;
                    document.getElementById("statusSypialnia").innerHTML = json.BedRoom.state;
                }
            });
        }
    </script>
  </body>
</html>
